body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #242b33;
  font-size: 1em;
}
header {
  background-image: url('./img/banner.jpg');
  width: 100%;
  padding-bottom: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .btn {
  background-color: #e13a2d;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
} */

.btn-other {
  background-color: #02205e;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

#infoButton {
  background-color: #5ca93e;
  font-family: 'Lato', sans-serif;
  font-size: 0.5em;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  font-weight: 900;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 900;
}

h3 {
  font-size: 1em;
}

h5 {
  font-size: 1.2em;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #242b33;
  font-weight: 900;
  text-transform: uppercase;
}

label {
  display: block;
  text-transform: uppercase;
}

nav {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

table {
  border: 1px solid black;
}

th td {
  padding: 15px;
  text-align: center;
}

.popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  padding: 30px;
  left: 25%;
  right: 25%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: white;
}

.popup_inner img {
  width: 300px;
}

.popup_inner h3 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.review {
  background-color: #f0f8ff;
  padding: 10px;
}
/* current ramen bowl styles */
#currentBowl {
  position: sticky;
  top: 10px;
}

#currentBowl h2 {
  background-image: url('./img/bar-header.jpg');
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}
#currentBowl button {
  width: 100%;
}

#currentBowl h5 {
  font-size: 14px;
  font-weight: bold;
}
.ingredient-card > h2 {
  font-size: 14px;
  text-transform: uppercase;
}

.ingredient-card .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  display: none;
}

.ingredient-card:hover .overlay {
  display: inline;
}

.add {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  top: 25%;
  text-align: center;
  z-index: 100;
  display: none;
}

.ingredient-card:hover .add {
  display: inline;
}

.toast {
  position: fixed;
  top: 30%;
  right: 10px;
  z-index: 1;
  opacity: 1;
  transform: opacity ease-in 1s;
  background-color: #242b33;
  color: white;
  border-radius: 5px;
  padding: 2px;
}

.toast p {
  font-size: 1em;
}

.container .padding {
  padding: 20px;
}

.checkout {
  padding: 70px;
}

.checkout-form {
  padding: 20px;
}

.checkout-btn {
  margin: 20px;
}

.element {
  height: 120px;
}

.admin-form {
  padding: 20px;
}
